
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(rgb(7, 88, 167), rgb(255, 221, 51));
    background-attachment: fixed;
}
.gallery{
    padding: 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    overflow: hidden;
    @media(min-width: 500px){
        grid-template-columns: 1fr 1fr;
    };
    @media(min-width: 800px){
        grid-template-columns: repeat(3, 1fr);
    };
    div{
        padding: 1em;
        background-color: rgb(255, 255, 255);
        transition: all 0.1s ease-in;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    

}